
<a href="/auth/sign-out">Sign out</a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>


    <title>Guest List</title>
</head>

<body>
  
  <h1>Guest List</h1>

  <ul>
      <% rsvp.forEach((person)=>{ %>
        <a href="/users/<%= user._id %>/rsvp/<%= person._id %>"> 
        <li><%= person.firstName %>  <%= person.lastName %> - <%= person.plusOne %> </li>
      <% }) %>    
      </a>
  </ul>
  
    <form action="/users/<%= user._id %>/rsvp" method="POST"></form>
  <div class="add-guest-button">
    <a href="/users/<%= user._id %>/rsvp/new">Add New Guest</a>
  </div>

</body>
</html>

