<a href="/auth/sign-in">Sign Out</a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <title>Attendee</title>
</head>
<body>
      
<h1>Attendee</h1>

    <main>
        <div class="attendee-details">
      
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" value="<%= rsvp.firstName %>">
    
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" value="<%= rsvp.lastName %>">
    
            <label for="plusOne">Plus One:</label>
            <input type="text" id="plusOne" name="plusOne" value="<%= rsvp.plusOne %>">
            
        </div>
    </main>

    <div class="buttons">
        
        <a href="/users/<%= user._id %>/rsvp/<%= rsvp._id %>/edit" class="edit-button">Edit</a>
     
        <form action="/users/<%= user._id %>/rsvp/<%= rsvp._id %>?_method=DELETE" method="POST"> 
                <input type="Submit" value="Delete">

        </form>

    </div>


</body>
</html>
