<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendee</title>
</head>
<body>
      
<h1>Attendee</h1>

    <main>
        <div class="attendee-details">
            <h2>Guests</h2
        <div>
            
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" value="<%= rsvp.firstName %>">
    
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" value="<%= rsvp.lastName %>">
    
            <label for="plusOne">Plus One:</label>
            <input type="text" id="plusOne" name="plusOne" value="<%= rsvp.plusOne %>">
        </div>
    </main>


    <div class="buttons">
        
        <a href="/users/<%= user._id %>/rsvp/<%= rsvp._id %>/edit" class="edit-button">Edit</a>
        <a href="/users/<%= user._id %>/rsvp/<%= rsvp._id %>/delete" class="delete-button">Delete</a>
        
        <form action="/users/<%= user._id %>/rsvp/<%= rsvp._id %>?_method=DELETE" method="POST"> 
    
        </form>

        

    </div>

</body>
</html>
